<h1>Showing Article details</h1>
<p><strong>Title:</strong><%= @article.title %></p>
<p><strong>Description:</strong><%= @article.description %></p>

  class AddTimestampsToArticles < ActiveRecord::Migration[6.1]
  def change
    change_table :articles do |t|
      t.datetime :created_at, null: true unless column_exists?(:articles, :created_at)
      t.datetime :updated_at, null: true unless column_exists?(:articles, :updated_at)
    end
  end
end

<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
