<h1>Showing Article Details</h1>

<p><strong>Title:</strong> <%= @article.title %></p>
<p><strong>Description:</strong> <%= @article.description %></p>

<p class="center">
  <%= link_to 'âœï¸ Edit', edit_article_path(@article), class: 'button edit' %>
  <%= link_to 'ðŸ—‘ï¸ Delete', article_path(@article),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: 'button delete' %>
  <%= link_to 'ðŸ”™ Back to Articles', articles_path, class: 'button show' %>
</p>
